@import "global/normalize";
@import "global/fonts";

@import "variables";
@import "mixins";

@import "blocks/main-container";
@import "blocks/main-menu";
@import "blocks/intro";
@import "blocks/reason";
@import "blocks/advantages";
@import "blocks/reasons";
@import "blocks/feedback";
@import "blocks/map";
@import "blocks/page-footer";
@import "blocks/socials";
@import "blocks/developed";