.advantages {
  @include list-style;
  padding: 35px 20px 9px 0;
  background-color: #fff;

  &__item {
    position: relative;
    margin-bottom: 28px;
    padding-left: 70px;
    font-family: $font-stack;
    text-transform: uppercase;

    &--lodging::before {
      position: absolute;
      left: 22px;
      top: -9px;
      width: 39px;
      height: 37px;
      background-image: url(../img/icon-house.svg);
    }

    &--souvenirs::before {
      position: absolute;
      left: 25px;
      top: -11px;
      width: 32px;
      height: 38px;
      background-image: url(../img/icon-gift.svg);
    }

    &--food::before {
      position: absolute;
      left: 18px;
      top: -5px;
      width: 40px;
      height: 35px;
      background-image: url(../img/icon-burger.svg);
    }

    &::before {
      content: "";
    }
  }

  &__header {
    display: block;
    margin: 0;
    margin-bottom: 14px;
    line-height: 26px;
    font-size: 18px;
    color: #000;
  }

  &__text {
    line-height: 21px;
    font-size: 14px;
    color: #333333;
  }
}