.advantages {
  @include list-style;
  padding: 35px 20px 9px 0;
  background-color: #fff;

  &__item {
    position: relative;
    margin-bottom: 28px;
    padding-left: 70px;
    font-family: $font-stack;
    text-transform: uppercase;

    &::before {
      content: "";
      position: absolute;
    }

    &--lodging::before {
      left: 22px;
      top: -9px;
      width: 39px;
      height: 37px;
      background-image: url(../img/icon-house.svg);
    }

    &--souvenirs::before {
      left: 25px;
      top: -11px;
      width: 32px;
      height: 38px;
      background-image: url(../img/icon-gift.svg);
    }

    &--food::before {
      left: 18px;
      top: -5px;
      width: 40px;
      height: 35px;
      background-image: url(../img/icon-burger.svg);
    }
  }

  &__header {
    display: block;
    margin: 0;
    margin-bottom: 14px;
    line-height: 26px;
    font-size: 18px;
    color: #000;
  }

  &__text {
    line-height: 21px;
    font-size: 14px;
    color: #333333;
  }

  @media ($tablet-widths) {
    display: flex;
    padding: 57px 0 60px;
    justify-content: space-around;

    &__item {
      margin-bottom: 0;
      padding: 102px 35px 1px;
      text-align: center;


      &::before {
        display: block;
        left: 50%;
        transform: translateX(-50%);
        background-repeat: no-repeat;
        background-size: 100% auto;
      }

      &--lodging::before {
        width: 75px;
        height: 74px;
        top: 2px;
      }

      &--souvenirs {
        order: 1;
        &::before {
          width: 64px;
          height: 91px;
          top: 0;
        }
      }

      &--food::before {
        width: 76px;
        height: 75px;
        top: 6px;
      }
    }

    &__header {
      margin-bottom: 21px;
      font-size: 21px;
    }
  }
}