.developed {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $font-stack;
  color: #000;
  text-decoration: none;
  line-height: 26px;
  font-size: 14px;

  &__text {
    margin-right: 11px;
  }

  &__logo {
    display: block;

    &:hover path {
      fill: #81b3d2;
    }

    &:active path {
      fill: #b2b2b2;
    }
  }
}