.developed {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $font-stack;
  color: #000;
  text-decoration: none;
  line-height: 26px;
  font-size: 14px;

  &__text {
    margin-right: 11px;
  }

  &__logo {
    display: block;
    width: 40px;
    height: 41px;
    background-image: url(../img/htmlacademy.svg);
    background-repeat: no-repeat;
    font-size: 0;

    &:hover {
      background-image: url(../img/htmlacademy-hover.svg);
    }

    &:active {
      background-image: url(../img/htmlacademy-active.svg);
    }
  }
}