.feedback {

  padding: 27px 20px 49px;
  font-family: $font-stack;
  text-transform: uppercase;
  text-align: center;

  &__header {
    margin: 0;
    margin-bottom: 19px;
    line-height: 26px;
    font-size: 21px;
    font-weight: bold;
  }

  &__text {
    margin: 0;
    margin-bottom: 35px;
    line-height: 24px;
    font-size: 14px;
    color: #333333;
  }

  &__find-hotel {
    display: block;
    padding: 16px 0;
    width: 100%;
    background-color: #81b3d2;
    line-height: 26px;
    font-size: 21px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;

    &:hover {
      background-color: #669ec0;
    }

    &:active {
      background-color: #5496bd;
      color: rgba(255, 255, 255, .3);
    }

    &--disabled {
      background-color: #e5e5e5;

      &:hover {
        background-color: #e5e5e5;
      }

      &:active {
        background-color: #e5e5e5;
        color: #fff;
      }
    }
  }

  @media ($tablet-widths) {
    padding: 56px 155px 58px;

    &__header {
      margin-bottom: 31px;
      font-size: 30px;
    }

    &__text {
      margin-bottom: 42px;
    }
  }
}