.intro {
  position: relative;
  z-index: 5;
  padding-bottom: 5px;
  background-color: #fff;

  &__image-wrapper {
    padding: 53px 46px 66px;
    background-image: url(../img/bg-intro-triangle-mobile.svg),
    url(../img/bg-back-mobile@1x.jpg);
    background-repeat: no-repeat;
    background-size: 110% auto, auto;
    background-position: bottom center,
    bottom center;

    &--index {
      padding: 91px 19px 83px;
      background-position: bottom center,
      top center;
    }
  }

  &__image {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-height: 215px;
  }

  &__text {
    position: relative;
    padding: 41px 30px 0;
    font-family: $font-stack;
    text-align: center;
    text-transform: uppercase;

  }

  &__description {
    margin-bottom: 27px;
    line-height: 26px;
    font-size: 18px;
    font-weight: bold;
  }

  &__teaser {
    line-height: 26px;
    font-size: 14px;
    color: #333333;
    font-weight: normal;
  }

  @media ($tablet-widths) {

    &__image-wrapper {
      padding: 94px 154px 116px;
      background-image: url(../img/bg-intro-triangle-tablet.svg),
    url(../img/bg-back-tablet@1x.jpg);
      background-size: 100% auto, auto;

      &--index {
        padding: 77px 154px 91px;
      }
    }

    &__image {
      max-height: 350px;
    }

    &__text {
      padding: 74px 163px 49px;

      &--index {
        padding: 50px 75px 46px;
      }
    }

    &__description {
      font-size: 30px;

      &--index {
        font-size: 21px;
      }
    }

  }

  @media ($desktop-widths) {
    &__image-wrapper {
      padding: 102px 370px 119px;
      background-image: url(../img/bg-intro-triangle-desktop.svg),
    url(../img/bg-back-desktop@1x.jpg);
      background-size: 100% auto, auto;

      &--index {
        padding: 77px 154px 91px;
      }
    }

    &__text {
      padding: 111px 355px 33px;

      &--index {
        padding: 50px 300px 46px;
      }
    }
  }
}