.main-container {
  margin: 0 auto;
  //width: 320px;
  min-width: 320px;
  max-width: 600px;
  box-shadow: 0 0 10px 2px #aaa;
  background-color: #fff;

  @media ($tablet-widths) {
    width: 768px;
    min-width: 768px;
    max-width: 1000px;
  }

  @media ($desktop-widths) {
    width: 1200px;
    min-width: 1200px;
    max-width: 1200px;
  }
}