.main-menu {
  background-color: #81b3d2;


  &__items {
    @include list-style;
    display: flex;
    flex-direction: column;
  }

  &__item {
    position: relative;
    border-top: 1px solid #9ac2db;
    border-bottom: 1px solid #678fa8;


    &:first-child {
      border-top: none;
    }

    &:last-child {
      border-bottom: none;
      box-shadow: inset 0 -10px 8px -7px rgba(0, 0, 0, 0.2);
    }
  }

  &__logo {
    position: relative;
    order: 1;
    z-index: 10;
    height: 56px;
    border: none;
    text-align: center;
    background-color: #fff;
  }
  &__link {
    display: block;
    padding: 17px 0;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-size: 18px;
    color: #fff;
    font-family: $font-stack;
    font-weight: bold;

    &:hover {
      background-color: #669ec0;
    }

    &--active:hover {
      background-color: inherit;
    }

    &:active {
      background-color: #5496bd;
      color: rgba(255, 255, 255, .3);
    }

    &--active:active {
      background-color: inherit;
      color: #fff;
    }
  }


  &__close {
    display: block;
    position: absolute;
    top: 17px;
    right: 20px;
    width: 23px;
    height: 22px;
    background-image: url(../img/icon-cross.png);
    font-size: 0;
  }

  &__open {
    display: block;
    position: absolute;
    top: 18px;
    right: 20px;
    width: 23px;
    height: 21px;
    background-image: url(../img/icon-menu.png);
    font-size: 0;
  }

/*  @media ($tablet-widths) {
    background-color: #fff;

    &__items {
      display: flex;
      flex-direction: row;
    }

    &__item {
      border: none;
      flex-basis: 20%;
      flex-grow: 1;

      &--logo {
        order: 0;
      }

      &:last-child {
        box-shadow: none;
      }
    }


    &__link {
      font-size: 14px;
      color: #000;

      &:hover {
        background-color: inherit;
        color: #81b3d2;
      }

      &:active {
        color: #000;
        opacity: 0.3;
      }

      &--active {
        color: #766357;

        &:hover {
          color: #604e43;
        }

        &:active {
          color: #766357;
          opacity: 0.3;
        }
      }
    }




    &__close,
    &__open {
      display: none;
    }
  }*/
}