.main-form {
  padding: 0 19px;
  font-family: $font-stack;

  &__items {
    @include list-style;

  }

  &__item {
    padding: 19px 0 24px;
    box-shadow: inset 0 1px 0 0 #e5e5e5;
  }

  &__header {
    margin: 0;
    margin-bottom: 22px;
    line-height: 26px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
  }

  &__text-label {
    display: block;
    margin-bottom: 20px;
    line-height: 26px;
    font-size: 14px;
    text-transform: uppercase;

    &--name {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    &--contact {
      padding-left: 22px;
      margin-bottom: 5px;
    }
  }


  &__text-input {
    box-sizing: border-box;
    padding: 0 21px;
    height: 58px;
    width: 100%;
    border: none;
    background-color: #f2f2f2;
    outline: none;
    line-height: 26px;
    @include input-text-style;

    @include placeholder;

    &--textarea {
      padding: 14px 21px;
      height: 158px;
      resize: none;
    }

    &:hover {
      background-color: #e5e5e5;
    }

    &:focus {
      background-color: #fff;
      border: 4px solid #e5e5e5;
    }

    &--name {
      margin-left: 22px;
      width: 1px;
      flex-grow: 1;
    }

    &--contact {
      padding-right: 79px;
      background-repeat: no-repeat;
      background-position: right 21px center, right top;

      &:focus {
        border-right: none;
      }
    }

    &--tel {
      background-image: url(../img/icon-phone.svg),
                        url(../img/icon-bg.png);
    }

    &--email {
      background-image: url(../img/icon-mail.svg),
                        url(../img/icon-bg.png);
    }
  }

  &__input-wrapper {
    position: relative;
    margin-bottom: 42px;

    &:last-child {
      margin-bottom: 6px;
    }
  }

  &__error-message {
    position: absolute;
    left: 21px;
    bottom: -31px;
    line-height: 26px;
    font-size: 14px;
    color: #ff5c5c;
  }

  &__controls-label {
    display: block;
    margin-bottom: 13px;
    padding: 15px 0 15px 79px;
    position: relative;
    line-height: 26px;
    font-size: 18px;
    font-weight: bold;

    &--checkbox {
      margin-bottom: 23px;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &__radio-button {
    display: none;
  }

  &__radio-icon {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 56px;
    height: 56px;
    background-color: #f2f2f2;
    border-radius: 50%;
  }

  &__radio-button:checked + &__radio-icon {
    background-color: #333333;
    border: 17px solid #f2f2f2;
  }

  &__checkbox {
    display: none;
  }

  &__checkbox-icon {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 56px;
    height: 56px;
    background-color: #f2f2f2;
    border-radius: 5px;
  }

  &__checkbox:checked + &__checkbox-icon {
    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      background-image: url(../img/icon-tick.svg);
      background-position: center center;
      background-repeat: no-repeat;
    }
  }

  /*Состояния радиобаттонов и чекбоксов при наведении и нажатии*/

  &__controls-label:hover &__radio-icon {
    background-color: #e5e5e5;
  }

  &__controls-label:active &__radio-icon {
    background-color: #d5d5d5;
  }

  &__controls-label:hover &__radio-button:checked + &__radio-icon {
    background-color: #333333;
    border-color: #e5e5e5;
  }

  &__controls-label:active &__radio-button:checked + &__radio-icon {
    background-color: #a4a4a4;
    border-color: #d5d5d5;
  }

  &__controls-label:hover &__checkbox-icon {
    background-color: #e5e5e5;
  }

  &__controls-label:active &__checkbox-icon {
    background-color: #d5d5d5;

    &::after {
      opacity: .3;
    }
  }

  &__submit-container {
    padding: 24px 0 37px;
  }

  &__submit-button {
    padding: 16px 0;
    width: 100%;
    border: none;
    background-color: #81b3d2;
    color: #ffffff;
    line-height: 26px;
    font-size: 21px;
    font-family: $font-stack;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
  }

  &__required-note {
    display: none;
  }

  @media ($tablet-widths) {
    padding: 0 60px;
    &__items {
      display: flex;
      flex-wrap: wrap;
      padding: 20px 0 0;
      justify-content: space-between;
    }

    &__invisible {
      display: none;
    }

    &__item {
      box-shadow: none;

      &--name {
        padding: 0;
        order: -3;
        flex-basis: 41%;
      }

      &--contacts {
        padding: 69px 0 0;
        order: -2;
        flex-basis: 100%;
      }

      &--impressions {
        padding: 0;
        order: -4;
        flex-basis: 50%;
        box-shadow: inset -1px 0 0 #dbdbdb;
      }

      &--attractions {
        padding: 48px 0 0;
        flex-basis: 100%;
        order: -1;

      }

      &--emotions {
        flex-basis: 100%;
      }
    }

    &__header {
      padding: 0 145px;
      margin-bottom: 24px;
      font-size: 21px;

      &--left {
        padding: 0;
        margin-bottom: 58px;
        text-align: left;
      }

      &--line {
        position: relative;
        overflow: hidden;

        &::before,
        &::after {
          content: '';
          position: absolute;
          top: 50%;
          width: 100%;
          height: 1px;
          background-color: #dbdbdb;
        }

        &::before {
          right: 100%;
          margin-right: -125px;
        }

        &::after {
          left: 100%;
          margin-left: -125px;
        }
      }
    }

    &__attractions-wrapper {
      display: flex;
      padding: 19px 90px 17px;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &__controls-label {
      margin-bottom: 22px;

      &--checkbox {
        margin-bottom: 32px;
        flex-basis: 125px;

        &:nth-child(1) {
          order: 1;
        }

        &:nth-child(2) {
          order: 3;
        }

        &:nth-child(3) {
          order: 2;
        }

        &:nth-child(4) {
          order: 4;
        }
      }
    }

    &__input-wrapper {
      margin-bottom: 25px;
    }

    &__error-message {
      left: auto;
      top: 0;
      right: 0;
    }

    &__emotions-wrapper {
      padding-top: 35px;
    }

    &__submit-container {
      display: flex;
      padding: 31px 0 61px;
      justify-content: space-between;
      align-items: center;
    }

    &__submit-button {
      flex-basis: 50%;
    }

    &__required-note {
      display: block;
      color: #333333;
      line-height: 26px;
      font-size: 14px;
      text-transform: uppercase;
      font-family: $font-stack;
    }
  }
}

