.page-footer {
  padding: 36px 0 25px;
  font-family: $font-stack;
  text-transform: uppercase;
  text-align: center;
  background-color: #fff;

  &__hashtag {
    margin-bottom: 36px;
    display: block;
    line-height: 26px;
    font-size: 21px;
    font-weight: bold;
  }

  @media ($tablet-widths) {
    display: flex;
    justify-content: space-around;
    align-items: center;

    &__hashtag {
      margin-bottom: 0;
    }
  }
}