.reason {

  &__text {
    padding: 38px 30px 40px;
    font-family: $font-stack;
    text-align: center;
    text-transform: uppercase;

    &--main {
      background-color: #81b3d2;
      color: #fff;
    }

    &--triangle {
      padding-top: 77px;
      background-image: url(../img/bg-triangle.svg);
      background-repeat: no-repeat;
      background-size: 110% auto;
      background-position: top center;
    }

    &--other {
      padding: 27px 35px 28px;
      box-shadow: 0 -21px 0 -20px #d6d6d6;
      color: #333333;
    }
  }

  &__header {
    display: block;
    margin: 0;
    margin-bottom: 8px;
    font-weight: bold;
    line-height: 26px;
    font-size: 18px;
  }

  &__num {
    margin: 0;
    margin-bottom: 16px;
    line-height: 21px;
    font-size: 14px;
    font-weight: normal;
  }

  &__description {
    margin: 0;
    font-weight: normal;
    line-height: 21px;
    font-size: 14px;
  }

  &__image {
    display: block;
    width: 100%;
  }
}