.socials {
  @include list-style;
  display: flex;
  margin-bottom: 38px;
  justify-content: center;

  &__item {
    margin-right: 6px;
  }

  &__item:last-child {
    margin-right: 0;
  }

  &__link {
    display: block;
    width: 46px;
    height: 48px;
    background-color: #81b3d2;
    font-size: 0;

    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      background-position: center center;
    }

    &--twitter::after {
      background-image: url(../img/icon-twitter.svg);
      background-repeat: no-repeat;
    }

    &--facebook::after {
      background-image: url(../img/icon-facebook.svg);
      background-repeat: no-repeat;
    }

    &--youtube::after {
      background-image: url(../img/icon-youtube.svg);
      background-repeat: no-repeat;
    }

    &:hover {
      background-color: #669ec0;
    }

    &:active {
      background-color: #5496bd;
    }

    &:active::after {
      opacity: 0.3;
    }
  }

  @media ($tablet-widths) {
    margin-bottom: 0;
  }
}